.whatido {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.fa-code, .fa-globe, .fa-pencil {
  font-size: 4em;
  margin-bottom: 0.3em;
}

.whatido .row {
  padding: 1em 5em;
}

.whatido .col {
  vertical-align: middle;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.whatido .col:first-of-type {
    border-right: 1px solid lightgray;
}

.whatido p {
  font-size: 1.25em;
  max-width: 75%;
  margin: 0.75em auto;
  line-height: 1.75em;
}

.padding {
  padding: 4em 15px;
}